<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <title>Detection</title> 
        <style> 
            h2{ 
                padding-bottom:20px; 
                font-weight: 600; 
                font-size: 3.2em 
            }
        </style> 
    </head>
    <body> 
        <div class="container"> 
            <center>
                <h2>Detection</h2> 
            </center> 
            <div> 
                <center> 
                    <form  class="form-inline" action = "/stop" method = "post" enctype="multipart/form-data"> 
                        <input type = "submit" class="btn btn-danger btn-md btn-block" value="Stop">
                    </form> 
                </center> 
                <center>
                    <form  class="form-inline" action = "/start" method = "post" enctype="multipart/form-data">
                        <input type = "submit" class="btn btn-success btn-md btn-block" value="Start">
                    </form> 
                </center> 
                <br>
            </div> 
        </div>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
